@media (max-width: 768px) {
    .menu {
        width: 100vw; 
    }

    .video-text h1 {
        font-size: 4rem; 
    }

    .video-text .video-logo {
        width: 30rem; 
    }

    .content-vid {
        width: 90vw; 
        height: auto; 
        font-size: 2rem; 
    }
}